.login {
    width: 100vw;
    height: 100vh;
    margin: 0 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 0;
    top: 0;
    background-image: url(../img/bg-login.webp);
    background-size: cover;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: $white, $alpha: .0);
        backdrop-filter: blur(3px);
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5.6rem;
        max-width: 47.5rem;
        width: 90%;
        margin: 0 auto;
        background-color: rgba($color: $white, $alpha: .8);
        border-radius: 1rem;
        padding: 3.2rem 2rem;
        z-index: 1;

        figure {
            max-width: 27.5rem;

            img {
                width: 100%;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            max-width: 31.4rem;
            width: 100%;

            input:not([type=submit]):not([type=checkbox]) {
                min-width: 100%;
                height: 4.3rem;
                background-color: $white;
                border-radius: 1rem;
                font-size: 1.5rem;
                margin: 0;
            }

            .button {
                background-color: $cyan;
                max-width: 31.4rem;
                width: 100%;
                height: 5.3rem;
                margin-top: 1rem;
                
                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 1.6rem;
                font-weight: 700;
                color: $white;
            }

            label {
                &:not(:has(input)) {
                    display: none;
                }

                &:has(input) {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 1.5rem;

                    input {
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: .2rem;
                        background-color: $dim_gray2;
                        border: .1rem solid $dim_gray2;

                        appearance: none;
                        transition: .3s ease-in-out;

                        &:checked {
                            background-color: $cyan;
                        }
                    }
                }
            }
        }
    }

    &__error {
        z-index: 1;
        max-width: 47.5rem;
        width: 90%;

        background-color: rgba($color: $white, $alpha: .8);
        padding: 2.45rem;
        margin-bottom: 2rem;

        font-size: 1.6rem;
        
        border-radius: .5rem;
        border: .1rem solid #FD604C;
        border-width: 0 0 0 0.6rem;
    }
}