.table {
    width: 100%;
    
    &:not(.table--new) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    & > *:empty { display: none; }

    &__header {
        
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &:not(:empty) {
            background-color: $gainsboro;
            border-radius: 1.2rem;
            padding: 1.5rem;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        &-title {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 50%;

            font-size: 2.2rem;
            font-weight: 500;
            color: $dark_slate_gray;

            &:empty { display: none; }

            figure {
                width: 4rem;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            & > span {
                display: flex;
                align-items: center;
                gap: 1rem;

                font-size: 1.7rem;
                white-space: nowrap;
            }
        }

        &-controls {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;
            width: 50%;

            &-view, &-delete, &-upload { @include btn; }

            &-view, &-upload {
                background-color: $cyan;
            }

            &-delete {
                background-color: $red;
            }

            &-upload {
                margin-left: auto;
            }

            &-share {
                cursor: pointer;
                
                span {
                    font-size: 3rem;
                }
            }
        }

        &-form {
            width: 100%;

            form {
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 100%;
            }

            & ~ .table__row-controls { width: fit-content; }
        }

        &-upload {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 1.2rem 1.5rem;
            border: none;
            border-radius: 1rem;
            background-color: $cyan;

            font-size: 2rem;
            font-weight: 600;
            color: $white !important;
            white-space: nowrap;

            position: relative;
            margin-left: auto;

            width: fit-content;
            cursor: pointer;
        }

        &-colour {
            display: block;
            width: 6rem;
            height: 3.4rem;
        }
    }

    &__foot {
        display: flex;
        justify-content: flex-end;

        &-addrow {
            background-color: $mustard !important;
        }
    }

    &--new {
        position: relative;

        .table__header {
            width: fit-content;
            padding: 1rem 3rem;
            margin-left: 1rem;
            background-color: $green;
            border-radius: 1rem 1rem 0 0;
            
            font-size: 2rem;
            font-weight: 800;
            text-transform: uppercase;
            color: $white;
        }   
    }

    &--gallery {
        .table {
            &__row {
                background-color: $gainsboro;
    
                &:first-of-type {
                    border-radius: 1rem 1rem 0 0;
                }
    
                &:last-of-type {
                    border-radius: 0 0 1rem 1rem;
                }
    
                &-title {
                    font-size: 1.5rem;
                }
    
                &-controls {
                    a {
                        @include btn;
                        font-size: 1.7rem;
                        background-color: $cyan;
                    }
                }
            }

            &__foot {
                gap: 1rem;
                align-items: center;

                span {
                    font-size: 1.7rem;
                    font-weight: 700;
                    color: $darkblue;
                    cursor: pointer;
        
                    &:last-of-type {
                        font-size: 2.5rem;
                    }
                }
        
                form {
                    max-width: 45rem;
                    width: 100%;
                    margin-left: auto;
                }
            }
        }
    }
}