@mixin min($screen) {
    @media only screen and (min-width: $screen+"px") {
        @content;
    }
}

@mixin max($screen) {
    @media only screen and (max-width: $screen+"px") {
        @content;
    }
}

.mobile-only {
    @include min(801) {
        display: none !important;
    }
}

.desktop-only {
    @include max(800) {
        display: none !important;
    }
}

.content {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    height: 0;
    overflow: hidden;
    transition: .3s ease-in-out;

    display: flex;
    flex-direction: column;
    gap: 5rem;

    max-width: 1060px;
    width: 90%;

    &[data-content=home] {
        flex-direction: row;
        flex-wrap: wrap;
    }

    &--active {
        opacity: 1;
        visibility: visible;
        overflow: initial;
        
        position: relative;
        left: 0;

        height: initial;
        transform: none;

        margin: 5rem auto !important;
    }

    h2 {
        font-size: 3.5rem;
        text-transform: uppercase;
        color: $dark_slate_gray;
    }
}

.learning-subjects {
    display: flex;
    flex-direction: row !important;
    width: fit-content !important;
}

.breadcrumb {
    display: flex;
    gap: 1rem;

    font-size: 2rem;
    font-weight: 500;
    color: $dark_dim_grey;
    text-transform: uppercase;

    max-width: 1060px;
    width: 90%;
    margin: 0 auto;

    & * {
        display: flex;
        gap: 1rem;
        cursor: default;

        &:not(:last-child)::after {
            content: '>';
        }

        &:last-child {
            font-weight: 700;
            color: $cyan;
        }
    }

    a {
        cursor: pointer;
    }
}

@mixin btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.2rem 1.5rem;
    border: none;
    border-radius: 1rem;

    font-size: 1.6rem;
    font-weight: 600;
    color: $white !important;
    white-space: nowrap;

    position: relative;

    width: fit-content;
    cursor: pointer;
}