// SCSS de módulos
@import '../abstracts/variables';
@import '../abstracts/utilities';

.news {
    max-width: 100%;
    background-color: $white;
    padding: 4rem 0;
    border-radius: 5rem 5rem 0 0;
    margin-bottom: 0 !important;

    &__container {
        white-space: break-spaces;

        img {
            display: block;
            margin: 0 auto;
        }
    }
}