// SCSS da home

@import '../abstracts/variables';

.home {
    .header {
        span {
            margin: 0 auto;
            font-size: 1.8rem;
            font-weight: 600;
        }

        a {
            margin-left: 0;
        }
    }

    main {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        margin: 0 auto;

        // section:first-of-type {
        //     margin-top: 5rem;
        // }

        .wrapper {
            margin: initial;
            max-width: 100%;
            width: 100%;
        }

        section:not(.card) > h2 {
            font-size: 2.9rem;
            text-transform: uppercase;
        }
    }

    &[data-role="contributor"] {
        .home__hotel {
            opacity: 0;
            visibility: hidden;
            height: 0;
            overflow: hidden;
            transition: .3s ease-in-out;
            width: 100%;

            &--active {
                opacity: 1;
                visibility: visible;
                height: fit-content;
            }
        }
    }
}


.hotels {
    h2:not(:nth-of-type(1)):not(:nth-of-type(2)) { display: none;}

    .card {
        a {
            display: flex;
            align-items: center;

            gap: 2rem;
        }
        
        figure {
            max-width: 10rem;
            width: 100%;
            text-align: center;

            img {
                object-fit: contain;
            }
        }
    }
}

.latest-updates {
    display: flex;
    flex-wrap: wrap;
    gap: 3.6rem 1.5rem;

    h2 {
        width: 100%;
        color: $dark_slate_gray;
    }

    .card {
        min-width: 29.1rem;
        width: 100%;
        max-width: 29.1rem;
        gap: 1.7rem;
        padding: 2.3rem 1.5rem 2.6rem;

        h4 {
            font-size: 1.9rem;
        }

        iframe {
            max-width: 100%;
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
        }

        figure {
            border-radius: 1rem;
            overflow: hidden;
            width: 100%;
            aspect-ratio: 261/288;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.tickets, .notifications, .schedule {
    max-width: 39.4rem !important;
    width: 100%;

    input[type=search] {
        font-size: 1.3rem;
        font-weight: 500;
        color: $dark_slate_gray;
        width: 100%;
        padding: 1.2rem;

        background-color: $gainsboro;
        border-radius: 1rem;

        border: none;
        outline: none;
    }

    &__control {
        display: flex;
        gap: 1rem;

        &-item {
            min-width: 10.4rem;
            width: fit-content;
            padding: 1.4rem;

            font-size: 1rem;
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
            text-align: center;

            background-color: $light_slate_gray;
            border-radius: 1rem;

            &--active { background-color: $cyan; color: $white; }

            cursor: pointer;
            user-select: none;
            transition: .3s ease-in-out;

            &:nth-of-type(2) {
                background-color: $mustard;
            }

            &:nth-of-type(3) {
                background-color: $darkblue;
            }
        }
    }

    &__tasks {
        display: flex;
        flex-direction: column;

        padding: 5rem 2rem 2rem;
        background-color: $gainsboro;
        border-radius: 1rem;

        gap: 5rem;

        max-height: 42rem;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__item {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;

        & > figure {
            width: 5.4rem;
            min-width: 5.4rem;
            height: 5.4rem;
            min-height: 5.4rem;
            background-color: $white;
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            span {
                &:first-of-type {
                    position: absolute;
                    top: 0.4rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                }

                &:last-of-type {
                    position: absolute;
                    top: 3rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 4.5rem;
                    height: 4.5rem;
                    border-radius: 50%;
                }
            }
        }

        &:nth-of-type(3n+1) figure span {
            background-color: $mustard;
        }

        &:nth-of-type(3n+2) figure span {
            background-color: $darkblue;
        }

        &:nth-of-type(3n+3) figure span {
            background-color: $cyan;
        }

        article {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            width: 100%;

            a {
                background-color: $white;
                padding: .7rem .9rem;
                font-size: 1.2rem;
                border-radius: .5rem;
            }
        }
    }

    &__author {
        font-size: 1.3rem;
        font-weight: 700;
        color: $dark_slate_gray;
    }

    &__file {
        font-size: 1.1rem;
        font-weight: 400;
        color: $dark_slate_gray;

        display: flex;
        align-items: center;
        gap: .3rem;

        background-color: #fff;
        padding: .7rem .9rem;
        font-size: 1.2rem;
        border-radius: .5rem;
        
        cursor: pointer;

        figure {
            max-width: 1.6rem;
            width: 100%;
            height: 2rem;
        }
    }

    &__time {
        text-align: right;
        font-size: 1rem;
        font-weight: 500;
        color: $dark_slate_gray;
    }
}

[data-content=home] .card--statistics, [data-content=home] .card.notifications {
    max-height: 52rem;
}